<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <h3 class="mt-3 mb-3 text-center">Welcome to Stripe tutorial by LN Master</h3>
      <img class="w-100" src="https://images.ctfassets.net/fzn2n1nzq965/3AGidihOJl4nH9D1vDjM84/9540155d584be52fc54c443b6efa4ae6/homepage.png?q=80" alt="">
      <div class="d-flex justify-content-center mt-3 mb-3">
        <a href="/admin" class="btn btn-secondary">Admin</a>
        &nbsp;
        <a href="/customer" class="btn btn-secondary">Customer</a>
      </div>
    </div>
  </div>
</div>